frontend/node_modules
/frontend/.DS_Store
backend/node_modules
backend/.env
.DS_Store
.env
/env
/app/audio/*
/app/logs/*
OAI_CONFIG_LIST.json
/tmp/*
*.ipynb
/test/*
*.wav
/pgvector/*
/bin/*
/static/*
*.crt.pem
*.pdf
/output/*
/notebook/*